:root {
    --f7-bars-bg-color: #27a6e1;
    --f7-bars-bg-color-rgb: 39,166,225;

    --f7-bars-link-color: #fff;
    --f7-bars-text-color: #fff;
    --f7-theme-color: #27a6e1;
    --f7-bars-border-color:#27a6e1;

    --f7-tabbar-link-active-color:#fff;
    --f7-tabbar-link-active-border-color:#fff;
    --f7-tabbar-link-inactive-color: rgba(255, 255, 255, 0.7);

    --f7-navbar-bg-color: #27a6e1;
    /*
    --f7-toolbar-bg-image: var(--f7-bars-bg-image);
    */

    /*START SEARCHBAR*/
    /*
  --f7-searchbar-bg-image: var(--f7-bars-bg-image);

  --f7-searchbar-bg-color-rgb: var(--f7-bars-bg-color-rgb);
  --f7-searchbar-border-color: var(--f7-bars-border-color);
  */

    --f7-searchbar-bg-color: #F2F2F2;
    --f7-searchbar-bg-color-rgb: 242,242,242;
    --f7-searchbar-height: 44px;
    --f7-searchbar-inner-padding-left: 8px;
    --f7-searchbar-inner-padding-right: 8px;
    /*
    --f7-searchbar-link-color: var(--f7-bars-link-color, var(--f7-theme-color));
    */
    --f7-searchbar-input-font-size: 16px;
    --f7-searchbar-input-border-radius: 4px;
    --f7-searchbar-input-height: 32px;
    --f7-searchbar-input-padding-horizontal: 28px;
    /*
    --f7-searchbar-inline-input-padding-horizontal: var(--f7-searchbar-input-padding-horizontal);
    --f7-searchbar-input-clear-button-color: var(--f7-input-clear-button-color);
    */
    --f7-searchbar-backdrop-bg-color: rgba(0, 0, 0, 0.4);
    --f7-searchbar-shadow-image: none;
    --f7-searchbar-in-page-content-margin: 0px;
    --f7-searchbar-in-page-content-box-shadow: none;
    --f7-searchbar-in-page-content-border-radius: 0;
    --f7-searchbar-in-page-content-input-border-radius: 0;
    --f7-searchbar-search-icon-color: rgba(0, 0, 0, 0.4);
    --f7-searchbar-input-bg-color: #fff;
    /*END SEARCHBAR*/

    /*START LIST ITEM*/
    --f7-list-item-text-max-lines: 10;
    /*END LIST ITEM*/
}
.ios{
    --f7-page-bg-color: #fff;

    --f7-searchbar-border-color: var(--f7-searchbar-bg-color);

    --f7-searchbar-input-extra-padding-left: 15px;
    --f7-searchbar-input-border-radius: 8px;
    --f7-searchbar-bg-color: #F2F2F2;
}
.color-theme-custom {
    --f7-theme-color: #27a6e1;
    --f7-theme-color-rgb: 39,166,225;
    --f7-theme-color-shade: #10aef8;
    --f7-theme-color-tint: #10aef8;
}
.bg-custom{
    background: #27a6e1;
}
.color-custom{
    color: #27a6e1;
}
.color-theme-custom .navbar{
    background: #27a6e1;
}
.custom-searchbar{
    --f7-searchbar-input-padding-horizontal: 0px;
    --f7-searchbar-input-extra-padding-right: 96px;
}

.md .searchbar.custom-searchbar .input-clear-button{
    right: 48px;
}
.ios .searchbar.custom-searchbar .input-clear-button{
    right: 56px;

}


.ios .navbars~.page .toolbar-top~.searchbar{
    top: calc(var(--f7-navbar-height) + var(--f7-toolbar-height) + var(--f7-safe-area-top));
}


.searchbar.custom-searchbar button[type="submit"]{
    width: 48px;
    height: 48px;
    margin-top: -24px;
    right: 0;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.ios .searchbar.custom-searchbar button[type="submit"]{
    width: 44px;
    z-index: 40;
}
.searchbar.custom-searchbar button[type="submit"] i{
    vertical-align: middle;
}

.notification .icon-notification{
    height: 16px;
    width: 16px;
}


.size-24{
    font-size: 24px;
}




/*PANEL LEFT*/
.user-img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}


/*LOGIN SCREEN*/
.login-screen-content{
    --f7-list-bg-color: trasparent;
    background: url('../images/bg.png') no-repeat center center;
    background-size: cover;
    height: 100%!important;
}
    .login-screen-content .logo{
        margin-top: 48px;
    }
        .login-screen-content .logo img{
            max-width: 180px;
            width:100%;
        }
    .login-screen-content .list input{
        background: rgba(255,255,255,.9)!important;
    }
    .login-screen-content .input-clear-button.password-clear-button{
        margin-right: 48px;
    }
    .login-screen-content .password-toggle {
        position: absolute;
        right: 8px;
        cursor: pointer;
        transition: all .3s;

        margin-top: calc(-1 * 25px / 2);
        top: calc(var(--f7-input-height)/ 2);
    }


    /*HOME PAGE*/
.prop-name{
    width: 60px;
}

/*TEMP*/

.display-block{
	display: block;
}

.uppercase{
	text-transform: uppercase;
}

.custom_chart_icon{
	font-size: 29px !important;
    width: 29px !important;
    height: 29px !important;
    margin-left: -2px;
}

.searchbar-backdrop{
	background: none;
}

.item-text{
	display: block !important;
}

.item-inner-commands-history{
	display: block !important;
}

.item-inner-commands-history i{
	color: #27a6e1;
}

.item-inner-commands-history .item-text{
	color: #191919;
	font-weight: 600;
    line-height: 20px;
    overflow: hidden;
    max-height: 40px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sim-status-top{
	text-align: center;
	padding: 30px 0px;
}

.sim-status-top-info{
	padding: 20px 0px 0px;
}

.sim-icon{
	width: 84px;
}

.status_block_top {
    box-sizing: border-box;
    text-align: center;
}

.status_block_icons img{
	width: 20px;
}

.status_block_icons p{
	margin: 5px;
}

.status_block_icons{
	height: 76px;
}

.select_arrow {
    position: absolute;
    right: 13px;
    margin-top: -30px;
    top: inherit;
    color: rgb(39, 166, 225);
    z-index: 4;
    font-size: 18px !important;
}

.additional-sim-info-ul {
    list-style: none;
	padding: 0px 0px 0px 20px;
}

.additional-sim-label{
	color: rgb(204, 204, 204);
}
.additional-sim-info{
	padding: 10px 0px;
	cursor: pointer;
    border-bottom: 1px solid #e3e3e3;
}

.additional-sim-info .label{
	font-size: 15px;
}

.popup-tablet-fullscreen{
	display: block;
    height: 50vh;
    top: 50vh;
}

.map {
    width: 100%;
    height: 100%;
}

.position_map {
    position: relative;
    height: 50vh;
}

.location-div{
	bottom: 50px;
	position: absolute;
	padding: 10px;
	padding-bottom: 0;
	width: calc(100% - 20px);
	height: 50px;
}

.cells-div{
	bottom: 0px;	
	position: absolute;
	padding: 10px;
	padding-bottom: 0;
	width: calc(100% - 20px);
	height: 50px;
	z-index: 11;
}

.command-list-icons li i{
	color: #e3e3e3;
    font-size: 18px;
}

.actions-label:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, .12);
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.actions-label {
	padding: 20px;
	font-weight: 600;
	color: #27a6e1;
}

.commands-icon{
	font-size: 20px;
	margin-left: 2px;
}

.action_button_block{
	display: inline-block;
    vertical-align: middle;
}

.action-buttons{
	margin-right: 0px;
}

.color-m2m-grey{
	color: rgb(77,77,77);
}

.color-m2m-blue{
	/*color: rgb(39,166,255);*/
	color: #27a6e1;
}

.action_button_media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 50px;
    -ms-flex-item-align: flex-end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    min-height: 36px;
    margin-bottom: 8px;
    padding: 0;
	font-weight: 600;
}

.action_button_text {
    /* padding-right: 16px; */
    position: relative;
    width: 100%;
    /* padding-top: 8px; */
    padding-bottom: 8px;
    min-height: 48px;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    min-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-item-align: stretch;
    -webkit-align-self: stretch;
    align-self: stretch;
    /* margin-left: 16px; */
    display: block;
    /* padding-top: 14px; */
    padding-bottom: 14px;
    -ms-flex-item-align: stretch;
    -webkit-align-self: stretch;
    align-self: stretch;
    display: block;
    margin-bottom: 4px;
    padding-bottom: 0;
	font-weight: 600;
}

.action_button_text:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, .12);
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.action_button_wrapper{
	display: flex;
}

.simList .item-text{
	line-height: 1.6;
}

.leaflet-control-container{
	display: none;
}

.gly-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.popup .page-content{
	padding-top: 0px;
}

.popup .page-content li{
	height: 50px;
}
.commandsList {
    margin-bottom: 80px;
}
    
.dirrect-search-toggle{
	margin-right: 5px;
}

.list.commandsHistoryList ul:after {
	display: none;
}

.no-y-margin{
	margin-top: 0px;
	margin-bottom: 5px;
}

.z-index--1{
	z-index: -1;
}

.z-index-10{
	z-index: 10;
}
.list .custom-smart-select{
	margin-bottom: 80px;
}

.list .custom-smart-select .item-inner {
	display: block;
}

.list .custom-smart-select .item-inner:before {
	display: none;
}

.list .custom-smart-select .item-after {
    max-width: 100%;
    padding-top: 8px;
    margin-left: 0;
    color: var(--f7-input-text-color);
    font-size: var(--f7-input-font-size);
    background-color: var(--f7-input-bg-color,transparent);
    padding-left: var(--f7-input-padding-left);
    padding-right: var(--f7-input-padding-right);
}

.location-div{
	height: 50px;
	/*width: 100%;*/
	background-color: #fff;
	position: absolute;
	z-index: 10;
}

.mb-5{
	margin-bottom: 40px;
}

.placeholder{
	color: grey;
}

.smart-select-page .list{
	margin-top: 0px;
	
}
.smart-select-page .list:before{
	display: none;
	
}

.text-editor-content{
	margin-right: 0 !important;
}
.name-editor{
    border-bottom: 1px solid #e3e3e3;
}

.sim-name-page .item-inner-wrap {
    width: 100%;
}

.sim-name .item-inner-wrap .caption-cs {
    text-align: center;
    padding: 0;
    margin: 0;
}


.sim-name .md .input:not(.input-outline):after,
.md .item-input:not(.item-input-outline) .item-input-wrap:after {
    display: none;
}

.sim-page input {
    border-bottom: 1px solid #ccc;
}

.sim-page input[name="sim-name"] {
    color: #6F86D6;
}

.sim-name input[name="wifiPassword"] {
    color: #6F86D6;
}

.sim-name .list .item-media {
    height: 52px;
}


.btn-cs {
    width: 100%;
    max-width: 300px;
    height: 50px;
    background: #27a6e1;
    color: white;
    font-size: 18px;
	font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 20px -9px rgba(111, 134, 214, 1);
    -moz-box-shadow: 0px 0px 20px -9px rgba(111, 134, 214, 1);
    box-shadow: 0px 0px 20px -9px rgba(111, 134, 214, 1);
    /*font-family: 'product_sansbold';*/
}


.toolbar-bottom {
    height: 90px;
    background-color: transparent;
}

.toolbar-bottom::after {
    display: none;
}

.toolbar-bottom::before {
    display: none;
}

.toolbar-bottom .toolbar-inner {
    padding: 15px;
}

.toolbar-bottom .btn-cs {
    color: white;
}




.setting-page .icon-right {
    font-size: 16px;
    color: #6F86D6;
    margin-top: 6px;
}

.setting-page .navbar .icon-left {
    font-size: 16px;
    color: white !important;
}

.setting-list ul {
    padding: 15px;
    margin: 0;
}

.setting-list ul li {
    list-style-type: none;
}

.setting-page .item-content .item-inner {
    padding: 15px 0;
}

.setting-page .item-content .item-inner.border-bottom {
    flex-wrap: wrap;
    width: 100%;
}


.item-bottom-text {
    width: 100%;
}

.setting-page .item-content a {
    color: #333;
    font-size: 18px;
    line-height: 25px;
}

.setting-page .item-caption {
    color: #333;
    font-size: 19px;
    line-height: 34px;
    margin-right: 15px;
}

.setting-page .item-bottom-text {
    color: #808080;
    font-size: 16px;
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.list-block .item-inner:after{
    content: '';
    position: relative;
    background-color: var(--f7-list-item-border-color);
    display: block;
    z-index: 15;
    top: 15px;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}

.sim-threshold-page .item-media{
	width: 50%;
}

.sim-threshold-page .item-link{
	width: inherit;
}

.sim-status-page .page-content{
	height: calc(100vh - 100px);
}


/* DATA  TABLE */

.mdl-button{
    width: auto;
}
.mdl-button.mdl-button.mdl-button--colored,
.mdl-button--colored{
    background: #27a6e1;
    color: #fff;
}
.mdl-button.mdl-button--colored,
.mdl-button.mdl-button--colored:hover,
.mdl-button.mdl-button--colored:active,
.mdl-button.mdl-button--colored:focus{
    /* background: #f44336; */
    background: #27a6e1;
}
.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:hover,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:focus{
    /* background: #f44336; */
    background: #27a6e1;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting{
    padding-right: 18px;
    padding-left: 40px;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before{
    /* right: 1em; */
    right: auto;
    left: 18px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
    /* right: 0.5em; */
    right: auto;
    left: 25px;
}
.theme-dealer .mdl-data-table .button-table{
        display: inline-block;
    padding: 0 16px;
}
.dataTables_filter input[type="search"]{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    /* color: #000 !important; */
    padding-left: 16px;
    padding-right: 40px;
    transition: all .3s;
    background-color: #fff;
    background-color: rgba(255,255,255,.8);
    height: 30px;
    display: inline-block;
}
.dataTables_length select{
    display: inline-block;
    padding: 0px 8px;
    cursor: pointer;
}
/* div.dataTables_wrapper div.mdl-grid.dt-table {
    padding: 0;
} */
.table-no-padding .mdl-grid.dt-table{
    padding: 0;
}
.table-no-padding .mdl-cell.mdl-cell--12-col{
    margin: 0;
    width: 100%;
}
.mdl-data-table td{
    overflow: hidden;
}
.mdl-data-table td.dataTables_empty{
    text-align: center;
}
.mdl-data-table td, .mdl-data-table th{
    text-align: left;
}

.datatable-additional-buttons{
    text-align: right;
    /* padding: 0 8px; */
}
    .datatable-additional-buttons button{
        margin: 8px;
    }
    .datatable-additional-buttons button:last-child{
        margin-right: 0;
    }
    .datatable-additional-buttons{
       /*  width: auto; */

    }
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected{
    background-color: #ddd;
}
table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before{
    margin-top: 0;
    margin-left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after{
    margin-top: -5px;
    text-shadow: 1px 1px #ddd, -1px -1px #ddd, 1px -1px #ddd, -1px 1px #ddd;
    margin-left: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
table.dataTable tbody td .user-icon{
    width: 25px;
    height: 25px;
    margin-right: 4px;
}


.custom-dropdown-wrapper .dataTables_filter,
.custom-dropdown-wrapper .trip-purpose-dropdown{
    display: inline-block;
    vertical-align: middle;
}
.custom-dropdown-wrapper .trip-purpose-dropdown{

}
    .custom-dropdown-wrapper .trip-purpose-dropdown .list{
        width: 260px;
        border-radius: 2px;
        margin: 0 0 0 16px;
    }
        .custom-dropdown-wrapper .trip-purpose-dropdown .list .item-content,
        .custom-dropdown-wrapper .trip-purpose-dropdown .list .item-inner{
            min-height: 36px;
        }


/* C3 GRAPHIC CHARTS */

.c3-xgrid-focus { display: none; }

.overflow-scroll-hor{
	overflow-x: scroll;
}

.mt-5{
	margin-top:10px;
}

.mdl-data-table td, .mdl-data-table th {
    text-align: left !important;
}

.mdl-grid, .dt-table .mdl-cell{
	padding: 0 !important;
	margin: 0 !important;
}


.absolute-center{
	text-align: center;
}

h3{
    font-size: 16px;
    line-height: 20px;
	font-weight: 600;
}

.h-100{
	height: 100%;
}

.w-100{
	width: 100%;
}

.px-3{
	padding: 0 10px;
}
.display-flex{
	display: flex;
}
.table-cells-sim_ellipsis{
	color: #191919 !important;
}

.li-cmd{
	background-color: aliceblue;
	cursor: pointer;
}

.py-5{
	padding: 15px 0;
}